body {
    font-family: Arial, sans-serif;
    background-image: image();
}
ol {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 5px;
}
input[type="text"] {
    padding: 5px;
    width: 200px;
}
button {
    padding: 5px 10px;
    cursor: pointer;
}
